@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,200&family=Jost:wght@200;300&family=Mooli&family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Jost", sans-serif;
  /* font-family: "Mooli", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
}

.box{
    max-width: 1000px;
    background-color: aqua;
}

.Feedback-Heading{
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 1.4;
    font-size: 38px;
}

.Feedback-Description{
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 15px;
    font-size: 19px;
    line-height: 1.6;
    color: rgb(99, 110, 114);
}

.row-main-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    /* background-color: azure; */
}

.row-emoji-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 45px auto;
}
.emojies{
    margin: 20px;
    text-align: center;
    /* background-color: aqua; */
    padding: 5px;
}
.emoji-shape{
    width: 90px;
    height: 90px;
     border: 1px solid rgb(247, 174, 85); 
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all 0.3s;
     margin-bottom: 20px;
}
.emoji-shape:hover{
    background-color: rgb(233, 233, 134);
    border-color: rgb(233, 233, 134);
   
}
.emoji-shape > img{
    width: 85px;
    height:85px;
}

.emoji-name{
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgb(99, 110, 114);
}

.emoji-name-show{
    margin-bottom:70px;
    text-align: center !important;
   
}
.emoji-name-show > h3{
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
    margin: auto; 
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: 300;
    background-color: rgb(44, 58, 71);
    width: 230px;
    color: white;
    display: none;
}
.add-bg{
    background-color: rgb(240, 108, 128);
    color: white;
}

.add-change{
    background-color: rgb(233, 233, 134);
    border-color: red;
}
.color-red{
    color: red;
    font-weight: bold;
}
.num{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;align-items: center;
    border: 2px solid rgb(223, 230, 233);
    margin:  10px;
    border-radius: 50%;
}
.num:hover{
    background-color: rgb(240, 108, 128);
    color: white;
    border-color:rgb(240, 108, 128) ;
    cursor: pointer;
}
.likely-text{
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2px 5px ;
}

.input-row{
margin: 40px auto !important;
border: 2px solid rgb(223, 230, 233);
padding: 15px;
display: flex ;
justify-content: space-between;
align-items: center;
border-radius: 15px;
flex-wrap: wrap;
}
.input-row > input{
    /* width: 85% ; */
    height: 50px;
    padding: 5px;
    border: none;
    padding: 0px 20px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.input-row > input::placeholder{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.input-row > button{
    /* width: 12.5%; */
    height: 50px;
    border: none;
    background-color: rgb(44, 58, 71);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 1px;  
}
.form-label{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
#exampleFormControlInput1{
    height: 60px;
    outline: none !important;
    border: none;
    box-shadow: none;
}
#exampleFormControlInput1::placeholder{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 17px;
}
.chat-img{
    width: 30px;
    margin: 0 15px;
}
.input-setting{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(223, 230, 233);
    padding: 10px;
    border-radius: 10px;
}
.btn-row{
    margin: 40px 0 !important;
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
  width:'100%";
}

.btn-row .btn-submit{
    background-color: rgb(44, 58, 71);
    color: white;
   width: 180px;
    border: 1px solid rgb(44, 58, 71);
    margin: 10px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 30px;
    border-radius: 10px;
}
.btn-row .btn-submit:hover{
    background-color: white;
    color: rgb(44, 58, 71);
}
.btn-row .btn-cancel:hover{
    background-color: rgb(44, 58, 71);
    color: white;
}

.btn-row .btn-cancel{
    background-color: #fff;
    width: 180px;
    border: 1px solid rgb(44, 58, 71);
    margin: 10px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 30px;
    border-radius: 10px;
}
@media screen and (max-width: 600px) {
    .Feedback-Heading {font-size: 25px;}
    .Feedback-Description{font-size: 16px;}
    .row-main-div{justify-content: center;}
    .likely-text{font-size: 12px;}
    .input-row > input{margin-bottom: 10px;}
    .input-row > input::placeholder{font-size: 15px;}
    .input-row > button{height: 45px; border-radius: 7px; width: 90px; font-size: 15px;}
    .num h1{font-size: 20px; margin-top: 5px;}
    .num{  width: 60px;  height: 60px; }
    .emojies{margin: 10px; padding: 2px;}
    .emoji-shape{width: 70px;height: 70px;}
    .emoji-shape > img { width: 60px; height: 60px;}
    .form-label{font-size: 15px;margin-bottom: 15px;}
    .input-setting{padding: 5px;}
    #exampleFormControlInput1::placeholder{font: size 15px; }
    .chat-img{margin: 0 5px;}
    .btn-row > button{width: 140px; font-size: 15px; }
 
}
